:host {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
}

.question-label {
    font-size: 1.5rem;
    margin: 1rem 1rem 0;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.answer {
    width: 50%;
    display: flex;
}

.answer button {
    width: 100%;
    border-radius: 0.5rem;
    border-width: 0;
    color: #ffffff;
    margin: 1rem;
}

.answer button[data-answer='A'] {
    background-color: #04844b;
}

.answer button[data-answer='B'] {
    background-color: #d4504c;
}
